doctype html
//if IE 9
  html.ie9(lang='en')  
// [if !IE] <!
html(lang='en')
  // <![endif]
  head
    meta(charset='utf-8')
    title PRIYA GURU FOUNDATION | AN ECOSYSTEMATIC APPROACH FOR BETTER INDIA.
    meta(name='description', content='pRIYA gURU FOUNDATION, WE LOVE')
    // Mobile Meta
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Favicon
    link(rel='shortcut icon', href='~/Content/images/favicon.ico')
    // Web Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:700,400,300', rel='stylesheet', type='text/css')
    // Bootstrap core CSS
    link(href='~/Content/bootstrap.css', rel='stylesheet')
    // Font Awesome CSS
    link(href='~/Content/fonts/font-awesome/css/font-awesome.css', rel='stylesheet')
    // Plugins
    link(href='~/Content/css/animations.css', rel='stylesheet')
    // Worthy core CSS file
    link(href='~/Content/css/style.css', rel='stylesheet')
    // Custom css
    link(href='~/Content/css/custom.css', rel='stylesheet')
  body.no-trans
    // scrollToTop
    // ================
    .scrollToTop
      i.icon-up-open-big
    // header start
    // ================
    header.header.fixed.clearfix.navbar.navbar-fixed-top
      .container
        .row
          .col-md-4
            // header-left start
            // ================
            .header-left.clearfix
              // logo
              .logo.smooth-scroll
                a(href='#banner')
                  img#logo(src='~/Content/images/ssss1.png', alt='Priya Guru Foundation')
              // name-and-slogan
              .site-name-and-slogan.smooth-scroll
                .site-name
                  a(href='#banner')
                    span(style='color:rgb(255, 153, 51)') Priya
                    span(style='color:white')  Guru
                    span(style='color:forestgreen') Foundation
                .site-slogan
                  | An Ecosystematic approach for better 
                  span(style='color:rgb(255, 153, 51)') In
                  span(style='color:white') d
                  span(style='color:green') ia
                  | !
            // header-left end
          .col-md-8
            // header-right start
            // ================
            .header-right.clearfix
              // main-navigation start
              // ================
              .main-navigation.animated
                // navbar start
                // ================
                nav.navbar.navbar-default(role='navigation')
                  .container-fluid
                    // Toggle get grouped for better mobile display
                    .navbar-header
                      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    // Collect the nav links, forms, and other content for toggling
                    #navbar-collapse-1.collapse.navbar-collapse.scrollspy.smooth-scroll
                      ul.nav.navbar-nav.navbar-right
                        li.active
                          a(href='#banner') Home
                        li
                          a(href='#about') About
                        li
                          a(href='#services') Services
                        li
                          a(href='#portfolio') Products
                        li
                          a(href='#clients') Testonomials
                        li
                          a(href='#contact') Contact
                // navbar end
              // main-navigation end
            // header-right end
    // header end
    // banner start
    // ================
    #banner.banner
      .banner-image
      .banner-caption
        .container
          .row
            .col-md-8.col-md-offset-2.object-non-visible(data-animation-effect='fadeIn')
              h1.text-center
                | Priya 
                span Guru
              p.lead.text-center
                | Development, Empowerment, Employment and Poverty are just some buzz words commonly used in today’s product-oriented Industry ecosystem. We believe in self individuals and respect for others, as a Priya-Guru society, where all belongs to same and are Priya-Guru.
    // banner end
    // section start
    // ================
    .section.clearfix.object-non-visible(data-animation-effect='fadeIn')
      .container
        .row
          .col-md-12
            h1#about.title.text-center
              | About 
              span PGF
            p.lead.text-center
              | Working towrads an ecosystematic change in the sense that 
              br
              | there remains No poor, No illetrate and No homeless.
            .space
            .row
              .col-md-6
                img(src='~/Content/images/section-image-1.png', alt='')
                .space
              .col-md-6
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?
                ul.list-unstyled
                  li
                    i.fa.fa-caret-right.pr-10.text-colored
                    |  Lorem ipsum dolor sit amet
                  li
                    i.fa.fa-caret-right.pr-10.text-colored
                    |  Reiciendis deleniti neque aliquid
                  li
                    i.fa.fa-caret-right.pr-10.text-colored
                    |  Ipsam fuga error commodi
                  li
                    i.fa.fa-caret-right.pr-10.text-colored
                    |  Lorem ipsum dolor sit amet
                  li
                    i.fa.fa-caret-right.pr-10.text-colored
                    |  Dignissimos molestiae necessitatibus
            .space
            h2 Becessitatibus quae beatae possimus ullam
            .row
              .col-md-6
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?
                p
                  | Vitae dolores quam magnam accusantium nam, voluptatibus expedita delectus, dolorum odio magni ut nemo nihil ex earum pariatur molestias velit eveniet, facere autem saepe aut. Ut minima itaque porro facere. Cumque vitae autem, dignissimos molestiae necessitatibus culpa aliquam deleniti soluta sunt voluptatibus tenetur, unde dolorem eligendi doloribus quibusdam facere totam. Possimus atque deserunt numquam aliquam magnam, facilis officiis illo alias ipsa voluptas laborum, praesentium eveniet nobis velit voluptatem odio eligendi, corporis et iste distinctio! Repellendus, id, ad.
              .col-md-6
                #accordion.panel-group(role='tablist', aria-multiselectable='true')
                  .panel.panel-default
                    #headingOne.panel-heading(role='tab')
                      h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                          | Collapsible Group Item #1
                    #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
                  .panel.panel-default
                    #headingTwo.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                          | Collapsible Group Item #2
                    #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  .panel.panel-default
                    #headingThree.panel-heading(role='tab')
                      h4.panel-title
                        a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                          | Collapsible Group Item #3
                    #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                      .panel-body
                        | Richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic.
    // section end
    // section start
    // ================
    .section.translucent-bg.bg-image-1.blue
      .container.object-non-visible(data-animation-effect='fadeIn')
        h1#services.text-center.title Our Services
        .space
        .row
          .col-sm-6
            .media
              .media-body.text-right
                h4.media-heading Tushti Stocks
                p
                  | Under this umbrella, we provide direct cash grants to people depending on need, urgently and in same day, money transfer to needy ones. Further, we provide tax security and take donations to strengthen Priya Guru Foundation as whole. Be part of Priya Guru.
              //
                --div class="media-right">
                <i class="fa fa-cog"></i>
                </div
            .media
              .media-body.text-right
                h4.media-heading Charity Services
                p
                  | Under this umbrella, we provide a platform having all possible channels like Direct Money, Giving out Food or Providing Accommodations etc. For Tax Saving and Directly Contributing or being a Priya Guru Member.
              //
                --div class="media-right">
                <i class="fa fa-check"></i>
                </!--div
            .media
              .media-body.text-right
                h4.media-heading Adi Smart Card Services
                p
                  | We are going to provide different kind of all-in-one smart card to access basic services like food, travel, stay etc. for Priya Guru members as well as for our customers facilitating as per customers finance status and will be taken care by Tushti Stocks in terms of finance.
              //
                --div class="media-right">
                <i class="fa fa-desktop"></i>
                </!--div
            .media
              .media-body.text-right
                h4.media-heading College Associates
                p
                  | As the work force needed to build the Priya Guru infrastructure and execute operations smoothly; we have come up with a program for college students where they can contribute to Priya Guru and avail Priya Guru Benefits like Work experience with PGF’s management team, Future Job Offers from Priya Guru, Free membership etc.
              //
                --div class="media-right">
                <i class="fa fa-users"></i>
                </!--div
          .space.visible-xs
          div--.col-sm-6
            .media
              //
                --div class="media-left">
                <i class="fa fa-leaf"></i>
                </!--div
              .media-body
                h4.media-heading Confluence Cafeteria
                p
                  | It’s a standalone project where we aspire to run cafeteria services in college campus as per providing great deals for college students as well as in a unique theme. We will give student’s great café services at lower prices and alumni funds. Personalized Adi Cards will be provided to students/faculties/Staffs etc.
            .media
              //
                --div class="media-left">
                <i class="fa fa-area-chart"></i>
                </!--div
              .media-body
                h4.media-heading Social Enterprise Accelerator
                p
                  | We are aspiring to be World’s number one in terms of accelerating startups which are tackling with social issues directly by providing infrastructure, mentorship and funds.
            .media
              //
                --div class="media-left">
                <i class="fa fa-child"></i>
                </!--div
              .media-body
                h4.media-heading E-Commerce Framework
                p
                  | This is completely different from Priya Guru Core approach, and we will be considering it as one of the first startup we would be accelerating. A team of College Associates will be grouped with some of our top level management team and will work on it, once we are able to set SEA’s basics.
            //
              --div class="media">
              <div class="media-left">
              <i class="fa fa-codepen"></i>
              </div>
              <div class="media-body">
              <h4 class="media-heading">Service 8</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
              </div>
              </div
    // section end
    // section start
    // ================
    .default-bg.space.blue
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.text-center Let's Work Together!
    // section end
    // section start
    // ================
    .section
      .container
        h1#portfolio.text-center.title Our Products
        .separator
        p.lead.text-center
          | Lorem ipsum dolor sit amet laudantium molestias similique.
          br
          |  Quisquam incidunt ut laboriosam.
        br
        .row.object-non-visible(data-animation-effect='fadeIn')
          .col-md-12
            // isotope filters start
            .filters.text-center
              ul.nav.nav-pills
                li.active
                  a(href='#', data-filter='*') All
                li
                  a(href='#', data-filter='.web-design') Web design
                li
                  a(href='#', data-filter='.app-development') App development
                li
                  a(href='#', data-filter='.site-building') Site building
            // isotope filters end
            // portfolio items start
            .isotope-container.row.grid-space-20
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-1.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-1')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-1') Project Title
                // Modal
                #project-1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-1-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-1-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-1.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.app-development
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-2.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-2')
                      i.fa.fa-search-plus
                      span App Development
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-2') Project Title
                // Modal
                #project-2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-2-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-2-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-2.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-3.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-3')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-3') Project Title
                // Modal
                #project-3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-3-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-3-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-3.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.site-building
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-4.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-4')
                      i.fa.fa-search-plus
                      span Site Building
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-4') Project Title
                // Modal
                #project-4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-4-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-4-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-4.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.app-development
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-5.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-5')
                      i.fa.fa-search-plus
                      span App Development
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-5') Project Title
                // Modal
                #project-5.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-5-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-5-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-5.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-6.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-6')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-6') Project Title
                // Modal
                #project-6.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-6-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-6-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-6.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.site-building
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-7.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-7')
                      i.fa.fa-search-plus
                      span Site Building
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-7') Project Title
                // Modal
                #project-7.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-7-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-7-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-7.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-8.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-8')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-8') Project Title
                // Modal
                #project-8.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-8-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-8-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-8.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-9.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-9')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-9') Project Title
                // Modal
                #project-9.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-9-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-9-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-9.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.site-building
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-10.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-10')
                      i.fa.fa-search-plus
                      span Site Building
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-10') Project Title
                // Modal
                #project-10.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-10-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-10-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-10.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.web-design
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-11.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-11')
                      i.fa.fa-search-plus
                      span Web Design
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-11') Project Title
                // Modal
                #project-11.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-11-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-11-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-11.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
              .col-sm-6.col-md-3.isotope-item.app-development
                .image-box
                  .overlay-container
                    img(src='~/Content/images/portfolio-12.jpg', alt='')
                    a.overlay(data-toggle='modal', data-target='#project-12')
                      i.fa.fa-search-plus
                      span App Development
                  a.btn.btn-default.btn-block(data-toggle='modal', data-target='#project-12') Project Title
                // Modal
                #project-12.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-12-label', aria-hidden='true')
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#project-12-label.modal-title Project Title
                      .modal-body
                        h3 Project Description
                        .row
                          .col-md-6
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.
                            p
                              | Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.
                          .col-md-6
                            img(src='~/Content/images/portfolio-12.jpg', alt='')
                      .modal-footer
                        button.btn.btn-sm.btn-default(type='button', data-dismiss='modal') Close
                // Modal end
            // portfolio items end
    // section end
    // section start
    // ================
    .section.translucent-bg.bg-image-2.pb-clear
      .container.object-non-visible(data-animation-effect='fadeIn')
        h1#clients.title.text-center Testimonials
        .space
        .row
          .col-md-4
            .media.testimonial
              .media-left
                img(src='~/Content/images/testimonial-1.png', alt='')
              .media-body
                h3.media-heading You are Amazing!
                blockquote
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.
                  footer
                    | Someone famous in 
                    cite(title='Source Title') Source Title
          .col-md-4
            .media.testimonial
              .media-left
                img(src='~/Content/images/testimonial-2.png', alt='')
              .media-body
                h3.media-heading Yeah!
                blockquote
                  p
                    | Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.
                  footer
                    | Someone famous in 
                    cite(title='Source Title') Source Title
          .col-md-4
            .media.testimonial
              .media-left
                img(src='~/Content/images/testimonial-3.png', alt='')
              .media-body
                h3.media-heading Thank You!
                blockquote
                  p Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.
                  footer
                    | Someone famous in 
                    cite(title='Source Title') Source Title
        .row
          .col-md-4
            .media.testimonial
              .media-left
                img(src='~/Content/images/testimonial-2.png', alt='')
              .media-body
                h3.media-heading Thank You!
                blockquote
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.
                  footer
                    | Someone famous in 
                    cite(title='Source Title') Source Title
          .col-md-4
            .media.testimonial
              .media-left
                img(src='~/Content/images/testimonial-3.png', alt='')
              .media-body
                h3.media-heading Amazing!
                blockquote
                  p
                    | Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.
                  footer
                    | Someone famous in 
                    cite(title='Source Title') Source Title
          .col-md-4
            .media.testimonial
              .media-left
                img(src='~/Content/images/testimonial-1.png', alt='')
              .media-body
                h3.media-heading Best!
                blockquote
                  p Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.
                  footer
                    | Someone famous in 
                    cite(title='Source Title') Source Title
      // section start
      // ================
      //
        --div class="translucent-bg blue">
        <div class="container">
        <div class="list-horizontal">
        <div class="row">
        <div class="col-xs-2">
        <div class="list-horizontal-item">
        <img src="~/Content/images/client-1.png" alt="client">
        </div>
        </div>
        <div class="col-xs-2">
        <div class="list-horizontal-item">
        <img src="~/Content/images/client-2.png" alt="client">
        </div>
        </div>
        <div class="col-xs-2">
        <div class="list-horizontal-item">
        <img src="~/Content/images/client-3.png" alt="client">
        </div>
        </div>
        <div class="col-xs-2">
        <div class="list-horizontal-item">
        <img src="~/Content/images/client-4.png" alt="client">
        </div>
        </div>
        <div class="col-xs-2">
        <div class="list-horizontal-item">
        <img src="~/Content/images/client-5.png" alt="client">
        </div>
        </div>
        <div class="col-xs-2">
        <div class="list-horizontal-item">
        <img src="~/Content/images/client-6.png" alt="client">
        </div>
        </div>
        </div>
        </div>
        </div>
        </--div
      // section end
    // section end
    // section start
    // ================
    .default-bg.space
      .container
        .row
          .col-md-8.col-md-offset-2
            h1.text-center 10000+ Members and Growing!
    // section end
    // footer start
    // ================
    footer#footer
      // .footer start
      // ================
      .footer.section
        .container
          h1#contact.title.text-center Contact Us
          .space
          .row
            .col-sm-6
              .footer-content
                p.large
                  | We are always looking for great feedbacks on services delivered by us, new ideas which serve our purpose 'Better Society | Priya Guru Society' and questions in common minds.
                p.large
                  | Apart from this, potential volunteers or members are requested to write a note to us here.
                p.large Thank you.
                ul.list-icons
                  li
                    i.fa.fa-map-marker.pr-10
                    |  420 - Priya Guru Foundation, Chennai, Tamil Nadu
                  li
                    i.fa.fa-phone.pr-10
                    |  8939350715
                  li
                    i.fa.fa-map-marker.pr-10
                    |  420 - Priya Guru Foundation, Bhiwani, Haryana
                  li
                    i.fa.fa-phone.pr-10
                    |  8059346454
                  li
                    i.fa.fa-map-marker.pr-10
                    |  420 - Priya Guru Foundation, Allahabad, Uttar Pradesh
                  li
                    i.fa.fa-phone.pr-10
                    |  9455777279
                  li
                    i.fa.fa-fax.pr-10
                    |  +44 12345678
                  li
                    i.fa.fa-envelope-o.pr-10
                    |  info@priya.guru
                ul.social-links
                  li.facebook
                    a(target='_blank', href='https://www.facebook.com/pages/HtmlCoder/714570988650168')
                      i.fa.fa-facebook
                  li.twitter
                    a(target='_blank', href='https://twitter.com/HtmlcoderMe')
                      i.fa.fa-twitter
                  li.googleplus
                    a(target='_blank', href='http://plus.google.com')
                      i.fa.fa-google-plus
                  li.skype
                    a(target='_blank', href='http://www.skype.com')
                      i.fa.fa-skype
                  li.linkedin
                    a(target='_blank', href='http://www.linkedin.com')
                      i.fa.fa-linkedin
                  li.youtube
                    a(target='_blank', href='http://www.youtube.com')
                      i.fa.fa-youtube
                  li.flickr
                    a(target='_blank', href='http://www.flickr.com')
                      i.fa.fa-flickr
                  li.pinterest
                    a(target='_blank', href='http://www.pinterest.com')
                      i.fa.fa-pinterest
            .col-sm-6
              .footer-content
                form#footer-form(role='form')
                  .form-group.has-feedback
                    label.sr-only(for='name2') Name
                    input#name2.form-control(type='text', placeholder='Name', name='name2', required='')
                    i.fa.fa-user.form-control-feedback
                  .form-group.has-feedback
                    label.sr-only(for='email2') Email address
                    input#email2.form-control(type='email', placeholder='Enter email', name='email2', required='')
                    i.fa.fa-envelope.form-control-feedback
                  .form-group.has-feedback
                    label.sr-only(for='message2') Message
                    textarea#message2.form-control(rows='8', placeholder='Message', name='message2', required='')
                    i.fa.fa-pencil.form-control-feedback
                  input.btn.btn-default(type='submit', value='Send')
      // .footer end
      // .subfooter start
      // ================
      .subfooter
        .container
          .row
            .col-md-12
              p.text-center
                | Copyright © 2016 by 
                a(target='_blank', href='#') Priya Guru Foundation
                | .
      // .subfooter end
    // footer end
    //
      JavaScript files placed at the end of the document so the pages load faster
      ==================================================
    // Jquery and Bootstap core js files
    script(type='text/javascript', src='~/Content/plugins/jquery.min.js')
    script(type='text/javascript', src='~/Content/bootstrap/js/bootstrap.min.js')
    // Modernizr javascript
    script(type='text/javascript', src='~/Content/plugins/modernizr.js')
    // Isotope javascript
    script(type='text/javascript', src='~/Content/plugins/isotope/isotope.pkgd.min.js')
    // Backstretch javascript
    script(type='text/javascript', src='~/Content/plugins/jquery.backstretch.min.js')
    // Appear javascript
    script(type='text/javascript', src='~/Content/plugins/jquery.appear.js')
    // Initialization of Plugins
    script(type='text/javascript', src='~/Content/js/template.js')
    // Custom Scripts
    script(type='text/javascript', src='~/Content/js/custom.js')
